@inject IModalService modal
@inject NavigationManager NavigationManager
@inject ISessionStorageService Storage

<div style="width: 500px;">
    <EditForm EditContext="@editContext" OnValidSubmit="@CreateBot">
        <DataAnnotationsValidator />
        <Wizard Id="Wizard">
            <WizardStep Name="Name">
                <div class="form-group mt-5">
                    <label for="Name">Name:</label>
                    <InputText class="form-control" @bind-Value="userInput.Name" placeholder="Name" />
                    <ValidationMessage For="@(() => userInput.Name)" />
                </div>
                @if (errorServerMessage.Length != 0)
                {
                    <label style="color: red;"> @errorServerMessage </label>
                    <br />
                }
            </WizardStep>
            <WizardStep Name="Bot rules">
                <br>
                <div>
                    @foreach(var rule in initialRules)
                    {
                    <div class="form-check">
                        <br>
                        <input class="form-check-input" type="checkbox" @bind-value="@rule.IsChoosen">
                        <label class="form-check-label">@rule.Description</label>
                        @if (rule.IsChoosen)
                        {
                            <div>
                                <label>Parameters:</label>
                                <div class="form-row input-group-prepend">
                                    <br>
                                    <label class="col-8 ">Percentage of the user's balance</label>
                                    <input @bind-value="@rule.MoneyLimitPercents" type="number" class="col-4">
                                </div>
                                <div class="form-row input-group-prepend">
                                    <label class="col-8 ">Trigger value to trade</label>
                                    <input  @bind-value="@rule.TriggerValue" type="number" class="col-4">
                                </div>
                                <div class="form-row input-group-prepend">
                                    <label class="col-8 ">Time interval</label>
                                    <input @bind-value="@rule.TimeMarker" type="@(@rule.IsChoosen ? "time" : "hidden")" class="col-4">
                                </div>
                            </div>
                            <br>
                        }

                    </div>
                    }
                </div>
                <ValidationSummary />

                @if (errorServerMessage.Length != 0)
                {
                    <label style="color: red;"> @errorServerMessage </label>
                    <br />
                }
                @if (showLoading)
                {
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
                <br>
            </WizardStep>
        </Wizard>
    </EditForm>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    private BotModel userInput;
    private EditContext editContext;
    private bool showLoading = false;
    private string errorServerMessage = "";
    private List<BotRuleModel> initialRules;
    private UserToken userToken;

    private void InitializeBotRules()
    {
        var ruleBuy = new BotRuleModel(OperationType.Buy);

        var ruleSell = new BotRuleModel(OperationType.Sell);
        
        initialRules = new List<BotRuleModel>() { ruleBuy, ruleSell };
    }

    private void MapRules()
    {
        userInput.Rules = new List<BotRuleData>();
        foreach (var rule in initialRules)
        {
            if (rule.IsChoosen)
            {
                userInput.Rules.Add(new BotRuleData()
                {
                    OperationType = rule.OperationType,
                    MoneyLimitPercents = rule.MoneyLimitPercents,
                    TriggerValue = rule.TriggerValue,
                    TimeMarker = rule.TimeMarker
                });
            }
        }
    }

    private bool HasError()
    {
        return !editContext.Validate();
    }

    public async Task CreateBot()
    {
        errorServerMessage = "";

        showLoading = true;

        if (HasError())
        {
            showLoading = false;
            return;
        }

        MapRules();

        // When rules will be ready
        //var request = new CreateBotRequest
        //{
        //    Name = userInput.Name,
        //    UserId = await Storage.GetItemAsync<Guid>("id"),
        //    Rules = userInput.Rules
        //};

        userToken.UserId = await Storage.GetItemAsync<Guid>("id");
        userToken.Body = await Storage.GetItemAsync<string>("token");
        var request = new CreateBotRequest
        {
            Name = userInput.Name,
            UserId = userToken.UserId
        };

        try
        {
            await BotManager.CreateBot(userToken, request);

            BlazoredModal.Close(ModalResult.Ok($"Form was submitted successfully."));
        }
        catch (BadRequestException)
        {
            errorServerMessage = "Something went wrong during bot creation";
        }
        catch (Exception)
        {
            errorServerMessage = "The server cannot process your request.";
        }
        finally
        {
            showLoading = false;
        }
    }

    protected override void OnInitialized()
    {
        userToken = new UserToken();

        userInput = new BotModel();

        InitializeBotRules();

        editContext = new EditContext(userInput);

        BlazoredModal.SetTitle("Create bot");
    }
}

