@page "/instruments"

<div class="container">
    <div class="row">
        <div class="col-md">
            <h3>Instruments</h3>
        </div>
        <div class="col-md float-right">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Choose instrument</label>
                </div>
                <select @onchange="@UpdateInstruments" class="custom-select">
                    @foreach (var instrument in instrumentOptions)
                    {
                        <option value=@instrument>@instrument</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        @if (areInstrumentsLoading)
        {
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else if (!errorOccured)
        {
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Figi</th>
                        <th scope="col">Name</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Lot</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var instrument in marketInstruments.Skip(pageIndex * pageSize).Take(pageSize))
                    {
                        <tr>
                            <td>@instrument.Figi</td>
                            <td>@instrument.Name</td>
                            <td>@instrument.Currency</td>
                            <td>@instrument.Lot</td>
                            <td @onclick="@(() => SaveInstrument(instrument))">
                                Add to portfolio
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="@(prevDisabled ? "hidden" : "button")" class="btn btn-primary m-1 ml-3" value="Previous" @onclick="@PreviousPage"/>
            <input type="@(nextDisabled ? "hidden" : "button")" class="btn btn-primary m-1 ml-auto mr-3" value="Next" @onclick="@NextPage" />
        }
        else
        {
            <h3 class="m-lg-5">Can't load instruments, try again later</h3>
        }
    </div>
</div>


@code {
    private IEnumerable<Instrument> marketInstruments;
    private List<string> instrumentOptions;
    private string selectedInstrument;
    private bool areInstrumentsLoading;
    private bool errorOccured;

    private int pageIndex;
    private const int pageSize = 10;
    // To test GUI, put token here
    private string token = "";

    private async Task UpdateInstruments(ChangeEventArgs e)
    {
        try
        {
            selectedInstrument = e.Value.ToString();
            areInstrumentsLoading = true;

            var instrumentType = (InstrumentType)Enum.Parse(typeof(InstrumentType), selectedInstrument);

            var result = await BrokerManager.GetInstruments(BrokerType.TinkoffBroker, token, instrumentType);

            areInstrumentsLoading = false;

            marketInstruments = result;
        }
        catch (Exception)
        {
            areInstrumentsLoading = false;

            errorOccured = true;
        }
    }

    private void SaveInstrument(Instrument instrument)
    {

    }

    private void PreviousPage()
    {
        --pageIndex;
        StateHasChanged();
    }

    private bool prevDisabled =>
            pageIndex == 0;

    private void NextPage()
    {
        ++pageIndex;
        StateHasChanged();
    }

    private bool nextDisabled =>
            (pageIndex + 1) * pageSize > marketInstruments.Count();

    protected override async Task OnInitializedAsync()
    {
        errorOccured = false;
        pageIndex = 0;
        marketInstruments = new List<Instrument>();

        instrumentOptions = new List<string>()
        {
            "Currency",
            "Bond",
            "Stock"
        };

        areInstrumentsLoading = true;

        try
        {
            var result = await BrokerManager.GetInstruments(BrokerType.TinkoffBroker, token, InstrumentType.Currency);

            marketInstruments = result;

            areInstrumentsLoading = false;
        }
        catch (Exception)
        {
            areInstrumentsLoading = false;

            errorOccured = true;
        }
    }
}
