@page "/instruments"

<div class="container">
    <div class="row">
        <div class="col-md">
            <h3>Instruments</h3>
        </div>
        <div class="col-md float-right">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Choose instrument</label>
                </div>
                <select @onchange="@UpdateInstruments" class="custom-select">
                    @foreach (var instrument in InstrumentOptions)
                    {
                        <option value=@instrument>@instrument</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        @if (AreInstrumentsLoading)
        {
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else if (!ErrorOccured)
        {
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Figi</th>
                        <th scope="col">Name</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Lot</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var instrument in MarketInstruments.Skip(pageIndex * pageSize).Take(pageSize))
                    {
                        <tr>
                            <td>@instrument.Figi</td>
                            <td>@instrument.Name</td>
                            <td>@instrument.Currency</td>
                            <td>@instrument.Lot</td>
                            <td @onclick="@(() => SaveInstrument(instrument))">
                                Add to portfolio
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="@(prevDisabled ? "hidden" : "button")" class="btn btn-primary m-1 ml-3" value="Previous" @onclick="@PreviousPage"/>
            <input type="@(nextDisabled ? "hidden" : "button")" class="btn btn-primary m-1 ml-auto mr-3" value="Next" @onclick="@NextPage" />
        }
        else
        {
            <h3 class="m-lg-5 badge-info">Can't load instruments, try again later</h3>
        }
    </div>
</div>


@code {
    public IEnumerable<IMarketInstrument> MarketInstruments { get; set; }
    public List<string> InstrumentOptions { get; set; }
    public string SelectedInstrument { get; set; }
    public bool AreInstrumentsLoading { get; set; }
    public bool ErrorOccured { get; set; }

    private int pageIndex;
    private const int pageSize = 10;
    private TinkoffBankBroker broker;

    private async Task UpdateInstruments(ChangeEventArgs e)
    {
        SelectedInstrument = e.Value.ToString();
        AreInstrumentsLoading = true;

        var result = await Task.Run(() =>
            SelectedInstrument switch
            {
                "Bonds" => broker.GetInstruments(Tinkoff.Trading.OpenApi.Models.InstrumentType.Bond),
                "Currencies" => broker.GetInstruments(Tinkoff.Trading.OpenApi.Models.InstrumentType.Currency),
                "Stocks" => broker.GetInstruments(Tinkoff.Trading.OpenApi.Models.InstrumentType.Stock),
                _ => MarketInstruments
            });

        AreInstrumentsLoading = false;

        MarketInstruments = result;
    }

    private void SaveInstrument(IMarketInstrument instrument)
    {

    }

    private void PreviousPage()
    {
        --pageIndex;
        StateHasChanged();
    }

    private bool prevDisabled =>
            pageIndex == 0;

    private void NextPage()
    {
        ++pageIndex;
        StateHasChanged();
    }

    private bool nextDisabled =>
            (pageIndex + 1) * pageSize > MarketInstruments.Count();

    protected override async Task OnInitializedAsync()
    {
        ErrorOccured = false;
        pageIndex = 0;

        InstrumentOptions = new List<string>()
        {
            "Currencies",
            "Bonds",
            "Stocks"
        };

        AreInstrumentsLoading = true;

        try
        {
            broker = new TinkoffBankBroker("");

            MarketInstruments = new List<IMarketInstrument>();

            var result = await Task.Run(() => broker.GetInstruments(Tinkoff.Trading.OpenApi.Models.InstrumentType.Bond));

            MarketInstruments = result;

            AreInstrumentsLoading = false;
        }
        catch (Exception)
        {
            ErrorOccured = true;
        }
    }
}
